<div class="container" *ngIf="character">
    <h1>{{ character.name }}</h1>
    <img [src]="character.imageUrl" [alt]="character.name" class="character-image" />
  
    <div class="info">
      <h3>Películas:</h3>
      <ul>
        <li *ngFor="let film of character.films">{{ film }}</li>
      </ul>
  
      <h3>Series:</h3>
      <ul>
        <li *ngFor="let show of character.tvShows">{{ show }}</li>
      </ul>
    </div>
  
    <a routerLink="/" class="back-link">Volver a la lista</a>
  </div>